body {
  font-family: sans-serif;
  background-color: black;
  color: white;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
}

#bar {
  background-color: rgb(71, 71, 71);
  width: 100vw;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  font-weight: bold;
  color: white;
}

#profile-link {
  font-weight: bold;
  color: white;
}

#welcome-section {
  height: 100vh;
  max-width: 90vw;
  margin: auto;
}

#welcome-img {
  width: auto;
  height: 60vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
}

#image {
  width: auto;
  max-width: 100%;
}

.welcome-title {
  padding-top: 35px;
  color: black;
  height: 10vh;
}

.welcome-text {
  text-align: justify;
  font-weight: bold;
}

#projects {
  max-width: 90vw;
  margin: auto;
}

#projects-flex {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

@media (max-width: 1000px) {
  #projects-flex {
    grid-template-columns: auto;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 5px;
  }
}

.project-img {
  width: 300px;
  height: auto;
}

.project-tile {
  text-align: center;
  font-weight: bold;
}
